.modal {
  display: grid;
  inset: 0;
  place-items: center;
  position: fixed;
  z-index: 9999;

  &[hidden] {
    display: none;
  }
}

.modal > * {
  grid-column: 1/2;
  grid-row: 1/2;
}

.modal__backdrop {
  background-color: hsl(var(--fg-contrast) / 60%);
  place-self: stretch;
}

.modal__content {
  background-color: hsl(var(--bg-primary));
  padding: var(--space-l);
  width: min(65ch, 100%);

  &.scrollable {
    overflow: auto;
    max-height: 100%;
  }
}

.fullscreen {
  place-self: stretch;
  width: auto;
}
