.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space);
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: var(--space);

  li {
    flex-basis: 25ch;
  }
}

.cart {
  background-color: hsl(var(--bg-primary));
  position: sticky;
  top: var(--space-l);
}

.cart__list:empty::before {
  content: "You have no products on your cart yet.";
}

.cart__list {
  padding: 0;
  margin: 0;
  padding-block: var(--space-l);
}

.cart__title {
  font-size: var(--fs-5);
  margin: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  gap: 1ch;
}

.cart-item::after {
  content: "";
  border-top: 1px dotted currentColor;
  flex: 1;
  align-self: center;
}

.cart-item__name {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cart-item__name a {
  color: hsl(var(--primary-500));
  text-decoration: dotted underline hsl(var(--primary-500) / 50%);
  font-weight: bold;
}

.cart-item__name a:hover {
  text-decoration: solid underline hsl(var(--primary-500) / 50%);
}

.cart-item__price {
  color: hsl(var(--fg-contrast));
  order: 2;
  white-space: pre;
  font-variant-numeric: tabular-nums;
}

.cart__total {
  font-size: var(--type-size-5);
  font-weight: bold;
  font-family: var(--font-sans);
  color: hsl(var(--fg-contrast));
}

@media (max-width: 746px) {
  .cart {
    display: flex;
    flex-direction: column;
  }

  .sidebar.cart {
    padding: var(--space-s);
    z-index: 999;
  }

  .cart__title {
    font-size: var(--fs-6);
  }

  .cart__list {
    display: none;
  }
}

@keyframes ripple {
  0% {
    outline: 3px solid hsl(var(--primary-500));
    outline-offset: 0;
  }

  100% {
    outline: 3px solid hsl(var(--primary-500) / 0%);
    outline-offset: 2rem;
  }
}

.payment-instructions {
  counter-reset: instruction;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xxl);
  margin-block-start: var(--space-xxl);
}

.payment-instructions > li {
  counter-increment: instructions;
  position: relative;
  padding-inline-start: var(--space-xl);
  flex-basis: 35ch;
  flex-grow: 1;
}

.payment-instructions > li::before {
  content: counter(instructions);
  position: absolute;
  left: 0;
  font-size: var(--type-size-4);
  font-weight: bold;
  font-family: var(--font-display);
}
