.card {
  display: grid;
  justify-content: start;
  align-items: end;
  overflow: clip;
  border: 1px solid transparent;
}

.card:hover {
  border-color: hsl(var(--bg-accent) / 50%);
}

.card > * {
  grid-column: 1/1;
}

.card__body {
  background-color: hsl(var(--bg-primary));
  border-top: inherit;
}

.card__inner {
  padding: var(--space);
}

@media (hover: hover) {
  .card > * {
    grid-row: 1/1;
  }

  .card__inner,
  .card__body {
    transform: translateY(100%);
  }

  .card:is(:hover, :focus-within) :is(.card__inner, .card__body) {
    transform: translateY(0);
  }

  .card__body {
    transition: transform 300ms;
  }
  .card__inner {
    transition: transform 300ms 100ms;
  }
}

.card:target {
  animation: ripple 300ms 2 ease-in-out;
}

.card.selected {
  position: relative;
  border: 2px solid hsl(var(--primary-500));
}

.card.selected::before {
  content: attr(data-quantity) " pcs";
  background-color: hsl(var(--primary-500));
  position: absolute;
  color: hsl(var(--l-contrast));
  padding: var(--space) var(--space-s);
  top: var(--space-xs);
  left: var(--space-xs);
  line-height: 0;
  border-radius: 5ch;
}
