.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space);
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: var(--space);

  li {
    flex-basis: 25ch;
  }
}

.cart {
  background-color: hsl(var(--bg-primary));
  position: sticky;
  top: var(--space-l);
}

.cart__list:empty::before {
  content: "You have no products on your cart yet.";
}

.cart__list {
  padding: 0;
  margin: 0;
  padding-block: var(--space-l);
}
