<div class="modal" data-modal="show" id="age-verification">
  <div class="modal__content fullscreen cluster">
    <div class="stack text-align--center margin--auto">
      <h2 class="text-center">Are you over 19 years old?</h2>
      <div class="cluster margin--auto">
        <button class="button" data-dialog-hide>Yes</button>
        <button class="button" onclick="alert('You have to be 19 years or older to access this site.')">No</button>
      </div>
    </div>
  </div>
</div>