<div class="card">
    HELLOOOO
  <img
    src="{% src product.image.src %}"
    srcset="{% srcset product.image.src %}"
    alt="{{ product.image.alt }}"
    class="card__image"
  />
  <div class="card__body">
    <h3 class="h5">{{ product.name }}</h3>
    <p>$ {{ product.price }}</p>
  </div>
  <div class="card__footer flex gap-s padding-s justify-content-flex-end">
    <label for="qty-{{product.id}}" class="no-stretch">Qty:</label>
    <input value="0" class="no-stretch" type="number" name="qty-{{product.id}}" id="qty-{{product.id}}" min="0" max="10" style="width: 5ch;" data-update-cart="{{ product.id }}">
  </div>
</div>
