<img
    src="https://res.cloudinary.com/hatchup-magazine/image/upload/q_auto,f_auto,w_{{ product_image_width if product_image_width else "380" }}/thejujuroom/{{ product.image.src }}"
    alt="{{ product.image.alt }}"
    width="{{ product_image_width if product_image_width else "380" }}"
    height="{{ product_image_width if product_image_width else "380" }}"
    class="card__image"
    loading="lazy"
  />