---
permalink: /
layout: base.njk
css: ['frontpage']
---

<section id="section-1" class="full-vh padding--l">
  <div>
    <h1 class="site-title">The<br>Juju<br>Room</h1>
    <p>At The Juju Room, we believe in the power of Psilocybin and its wonderful effects on mental health. We take great pride in building a community by offering innovative products and advocating for our industry.</p>
    <div class="cluster">
      <a href="#section-5" class="primary button margin-top--l" >Shop now</a>
      <a href="#section-6" class="button margin-top--l" >Frequently Asked Questions</a>
    </div>
  </div>
</section>

<section id="section-2" class="full-vh with-sidebar padding--l">
  <div class="sidebar" style="--sidebar-width: 45ch">
    <h2 class="site-title">The path to feeling better</h2>
    <p>When we feel down or we’re at our most anxious moments, there are heaps of things we can do to help us feel better again. Doing these things can help prevent everyday mood swings from developing into mental health disturbances, such as depression and anxiety.</p>
    <p>No matter what it is you are going through, we believe in every person’s inherent ability to heal. At times, a catalyst is needed to access your healing or breakthrough in your journey.</p>
    <p>The Juju Room’s plethora of psychedelic medicine might just be the catalyst that you need.</p>
    <a href="#section-5" class="button margin-top--l" >Shop now</a>
  </div>
  <div class="not-sidebar">
    <img src="/assets/images/img-21.png" alt="">
  </div>
</section>

<section id="section-3" class="full-vh with-sidebar padding--l">
  <div class="not-sidebar">
    <img src="/assets/images/img-31.png" alt="">
  </div>
  <div class="sidebar" style="--sidebar-width: 45ch">
    <h2 class="site-title">We believe in you</h2>
    <p>As you take a step forward towards a healthier well-being. It’s important that your mind is at ease and that your environment inspires comfort and safety.</p>
    <p>We want you to experience our products to its fullest potential. Talk to one of our representatives to learn more.</p>
  </div>
</section>

<section id="section-4" class="full-vh with-sidebar padding--l">
  <div class="sidebar" style="--sidebar-width: 45ch">
    <h2 class="site-title">Taking little steps towards a better life mentally</h2>
    <p>The world is experiencing a mental health crisis that has affected families, communities, and workplaces. People are feeling more disconnected and anxious than ever.</p>
    <p>For some of us or even mostly, conventional treatments don’t provide long lasting relief.</p>
    <p>The Juju Room was created to aid in this issue. We embrace a free approach to healing that is anchored by science and innovation.</p>
  </div>
  <div class="not-sidebar">
    <img class="not-sidebar" src="/assets/images/img-41.png" alt="">
  </div>
</section>

<section id="section-5" class="full-vh padding--l">
  <h2 class="section-title">Shop now</h2>
  <div class="with-sidebar" style="align-items: start;">
    <article class="sidebar cart dark" style="flex-basis: 35ch;">
      <div class="spaced cluster">
        <h3 class="cart__title">Your Cart</h3>
      </div>

      <ul class="cart__list" data-cart-list></ul>

      <p class="spaced cluster margin--none">
        <span id="cart-total" class="weight-bold">Total:</span>
        <output aria-describedby="cart-total-desc" aria-labelledby="cart-total" class="cart__total" data-cart-total>$ 0.00</output>
      </p>
      <button class="margin-left--auto margin-block--xs primary button" data-dialog="checkout-modal">Checkout</button>
    </article>
    <p id="cart-total-desc" class="visually-hidden">The total price of all of the items in your cart.</p>
    <ul class="product-grid not-sidebar" data-product-grid>
      {% for product in prices %}
        <li>{% include "components/card.njk" %}</li>
      {% endfor %}
    </ul>
  </div>
</section>

{% include 'components/checkout.njk' %}
{% include 'components/age-verification.njk' %}

<section id="section-6" class="full-vh padding--l dark">
  <h2 class="section-title">Frequently Asked Questions</h2>
  <div class="disclosure-group margin--auto" style="width: min(100ch, 100%)">
    <details class="disclosure">
      <summary class="disclosure-header">What does microdosing psilocybin do to you?</summary>
      <div class="disclosure-content">
        <p>Microdosing is taking a small amount of the substance, which rarely causes any psychological effects, or hallucinations. The benefits that you receive from microdosing psilocybin is an improvement in mood and focus. While some described a peaceful feeling, like an inner calmness.</p>
      </div>
    </details>
    <details class="disclosure">
      <summary class="disclosure-header">When should you microdose and how frequently?</summary>
      <div class="disclosure-content">
        <p>It really is personal preference. Some people like taking it in the morning in tea, by itself, or mixed into a shake. Others like taking it during the day or even at night. Results will vary for everyone, as not one person is the same.</p>
        <p>For frequency we recommend twice a week for 1 to 2 months and then stopping for 3.</p>
        <p>Some people enjoy microdosing every day.  It really depends on the individual.</p>
      </div>
    </details>
    <details class="disclosure">
      <summary class="disclosure-header">Can you use psilocybin for depression?</summary>
      <div class="disclosure-content">
        <p>There is ongoing research with regards to the effectiveness of microdosing for depression. While there is "not enough"  concrete evidence to confirm that it will work for everyone, trials  have suggested a change in mood while taking psilocybin to treat depression. If you have been diagnosed with depression, we suggest you speak with your physician with regards to using psilocybin to treat your depression.</p>
      </div>
    </details>
    <details class="disclosure">
      <summary class="disclosure-header">Sometimes I have a negative experience when using psilocybin. Why does this happen?</summary>
      <div class="disclosure-content">
        <p>We like to look at it that part taking in psychedelics like psilocybin there will always be light and darkness. Just like life in general we have the yin and the yang. In our opinion there is no such thing as a "bad trip". Psilocybin when taken in what people refer to as a "therapeutic dose" or "hero dose" there is the potential for unresolved pain to surface that needs to be processed. Some may refer to this as a bad trip or negative experience, we like to look at it as a part of us that needs to be healed and processed.</p>
      </div>
    </details>
    <details class="disclosure">
      <summary class="disclosure-header">What can I do if I have an upset stomach from taking psilocybin?</summary>
      <div class="disclosure-content">
        <p>We suggest taking it with a non psilocybin mushroom called lion's mane to help with digestion. Our microdose capsules have lion's mane already mixed into the capsule.</p>
      </div>
    </details>
  </div>
</section>