---
permalink: /
layout: base.njk
---

<h1>{{ site.title | safe }}</h1>

<p style="font-weight: bold; color: hsl(var(--primary-100));">Primary 100</p>
<p style="font-weight: bold; color: hsl(var(--primary-300));">Primary 300</p>
<p style="font-weight: bold; color: hsl(var(--primary-500));">Primary 500</p>
<p style="font-weight: bold; color: hsl(var(--primary-700));">Primary 700</p>
<p style="font-weight: bold; color: hsl(var(--primary-900));">Primary 900</p>

<p style="font-weight: bold; color: hsl(var(--secondary-100));">Secondary 100</p>
<p style="font-weight: bold; color: hsl(var(--secondary-300));">Secondary 300</p>
<p style="font-weight: bold; color: hsl(var(--secondary-500));">Secondary 500</p>
<p style="font-weight: bold; color: hsl(var(--secondary-700));">Secondary 700</p>
<p style="font-weight: bold; color: hsl(var(--secondary-900));">Secondary 900</p>