---
permalink: /
layout: base.njk
css: ['frontpage']
---

<header id="header-1" class="padding--m gap--m">
  <p class="dark nav-text">Free shipping across Canada</p>
  <nav class="nav-list">
    <ul class="cluster gap--m margin--none">
      <li><a href="#!">{{ 'mail' | icon | safe }} <span class="visually-hidden">Email</span></a></li>
      <li><a href="#!">{{ 'facebook' | icon | safe }} <span class="visually-hidden">Facebook</span></a></li>
      <li><a href="#!">{{ 'instagram' | icon | safe }} <span class="visually-hidden">Instagram</span></a></li>
    </ul>
  </nav>
</header>

<section id="section-1" class="full-vh padding--l">
  <div>
    <h1 class="site-title">The<br>Juju<br>Room</h1>
    <p>At The Juju Room, we believe in the power of Psilocybin and its wonderful effects on mental health. We take great pride in building a community by offering innovative products and advocating for our industry.</p>
  </div>
</section>

<section id="section-2" class="full-vh side-by-side padding--l">
  <div>
    <h2 class="site-title">The path to feeling better</h2>
    <p>When we feel down or we’re at our most anxious moments, there are heaps of things we can do to help us feel better again. Doing these things can help prevent everyday mood swings from developing into mental health disturbances, such as depression and anxiety.</p>
    <p>No matter what it is you are going through, we believe in every person’s inherent ability to heal. At times, a catalyst is needed to access your healing or breakthrough in your journey.</p>
    <p>The Juju Room’s plethora of psychedelic medicine might just be the catalyst that you need.</p>
    <button class="button margin-top--l" >Shop now</button>
  </div>
  <img src="/assets/images/img-21.png" alt="">
</section>

<section id="section-3" class="full-vh side-by-side padding--l">
  <img src="/assets/images/img-31.png" alt="">
  <div>
    <h2 class="site-title">We believe in you</h2>
    <p>As you take a step forward towards a healthier well-being. It’s important that your mind is at ease and that your environment inspires comfort and safety.</p>
    <p>We want you to experience our products to its fullest potential. Talk to one of our representatives to learn more.</p>
    <a href="#!" class="button margin-top--l margin-left--auto">Learn more</a>
  </div>
</section>

<section id="section-4" class="full-vh side-by-side padding--l">
  <div>
    <h2 class="site-title">Taking little steps towards a better life mentally</h2>
    <p>The world is experiencing a mental health crisis that has affected families, communities, and workplaces. People are feeling more disconnected and anxious than ever.</p>
    <p>For some of us or even mostly, conventional treatments don’t provide long lasting relief.</p>
    <p>The Juju Room was created to aid in this issue. We embrace a free approach to healing that is anchored by science and innovation.</p>
    <a href="#!" class="button margin-top--l">Learn more</a>
  </div>
  <img src="/assets/images/img-41.png" alt="">
</section>