---
title: Terms and Conditions
css: ['frontpage']
---

<section id="section-1" class="full-vh padding--l">
  <h1>Terms and conditions</h1>
</section>
<section class="full-vh padding--l content-wrapper margin-inline--auto">
  <p>You must be at least 19 plus years to purchase from The Juju Room.</p>
  <p>We only ship within Canada.</p>
  <p>We assume no responsibility for lost orders due to:</p>
  <ul>
    <li>Wrong address given by the customer</li>
    <li>Damage to order by postal service</li>
    <li>Stolen packages after delivery</li>
    <li>Mistakes made by the postal offices</li>
  </ul>
  <p>Prices and availability of products are subject to change without notice.</p>
  <p>You must be a Canadian citizen, and your permanent residence must be a Canadian address. We do not ship to the United States.</p>
  <p>As a customer and visitor to The Juju Room, you are not affiliated in any way with any law enforcement agency.</p>
  <p>All orders are guaranteed by Canada Post to arrive on time, with the exception of Newfoundland and Labrador, Nunavut, and the Northwest Territories.</p>
  <p>If your package is lost in transit or confiscated by authorities, we will send you a free one time replacement package equal to the value of your order.</p>
  <p>Your order is packaged professionally, vacuumed sealed. No one will ever know what’s in the package, there is no worry about odor. Privacy is our top priority, no information will be shared with anyone.</p>
  <p>We provide tracking information for all orders. We operate with responsibility to our clients and honesty, providing good customer service to ensure our customers receive top quality products and experiences.</p>
  <p>Here in BC, Psilocybin products for recreational, and self directed therapeutic use is common and accepted by the majority of citizens.</p>
  <p>The Juju Room requires that you are 19 years of age or older, a Canadian citizen living in Canada.</p>
  <p>We only accept e-transfer at this time, while we work on other forms of payment.</p>
  <p>You cannot pick up directly, we only ship our products.</p>
  <p>All information you provide is secure and to protect our customers have put in place suitable safeguard measures to protect your information.</p>
  <p>We reserve the right to cancel any order or stop service if we believe a user attempts to interfere with the website. Service will also be denied for any user trying to ship to an address outside of Canada.</p>
</section>