/* COLORS */
:root {
  --d-contrast: 0 0% 0%;
  --d-default: 0 0% 20%;
  --d-subtle: 0 0% 50%;
  --d-non-essential: 0 0% 75%;

  --l-contrast: 0 0% 100%;
  --l-default: 0 0% 80%;
  --l-subtle: 0 0% 50%;
  --l-non-essential: 0 0% 25%;

  --primary-100: 10 55% 85%;
  --primary-300: 10 85% 75%;
  --primary-500: 10 85% 65%;
  --primary-700: 10 85% 45%;
  --primary-900: 10 85% 25%;

  --secondary-100: 266 58% 82%;
  --secondary-300: 266 58% 72%;
  --secondary-500: 266 58% 52%;
  --secondary-700: 266 58% 32%;
  --secondary-900: 266 58% 22%;
}
