:root {
  height: 100vh;
  overflow: hidden;
}

body {
  overflow: auto;
  height: 100vh;
  scroll-snap-type: y proximity;
}

body section {
  scroll-snap-align: start;
}

.site-title {
  -webkit-text-stroke: 2px hsl(var(--fg-contrast));
  color: transparent;
  text-align: center;
}

#header-1 {
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
}

#header-1 > * {
  grid-column: 1;

  @media (min-width: 401px) {
    grid-row: 1;
  }
}

.nav-text {
  text-transform: uppercase;
  font-family: var(--font-sans);
  font-weight: bold;
  letter-spacing: 2px;
  font-size: var(--type-size-7);
  align-self: center;
  margin: 0;

  @media (min-width: 720px) {
    text-align: center;
  }
}

.nav-list {
  display: flex;

  @media (min-width: 401px) {
    justify-content: flex-end;
  }

  a {
    color: hsl(var(--l-contrast) / 80%);
  }
}

#section-1 {
  display: grid;
}

#section-2,
#section-1 {
  --fg-contrast: var(--l-contrast);
  --fg-default: var(--l-default);

  background-color: hsl(var(--primary-500));
  background-image: url("/assets/images/blobs.svg"),
    linear-gradient(
      to bottom right,
      hsl(var(--primary-500)),
      hsl(var(--secondary-500))
    );
  color: hsl(var(--fg-default));
  place-items: center;
  background-size: 900px, cover;
  background-position: right -170px bottom -270px, center;
  background-repeat: no-repeat;
}

@media (min-width: 720px) {
  #section-1 > div {
    justify-self: start;
    width: 70%;
    max-width: 45ch;
    padding: var(--space-l);

    .site-title {
      width: fit-content;
      margin: 0;
      padding: var(--space-l);
    }

    p {
      text-align: justify;
    }
  }
}

.side-by-side {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(65ch, 1fr));
  gap: var(--space-l);
  align-items: center;
}

#section-2 {
  background-image: linear-gradient(to top left, #7c3fcc, #7d7483);
  background-size: cover;
  background-position: center;
}

#section-3 {
  background-image: linear-gradient(
    to bottom right,
    hsl(var(--primary-500)),
    hsl(var(--primary-100))
  );
}

#section-4 {
  background-image: linear-gradient(to bottom right, #ff964d, #ffc84e);
}

.with-sidebar {
  align-items: center;
}

.sidebar {
  --sidebar-width: 65ch;
  padding: var(--space-l);
}

.section-title {
  -webkit-text-stroke: 2px hsl(var(--fg-contrast));
  color: transparent;
  display: flex;
  gap: var(--space);

  &::after {
    align-self: center;
    background-color: hsl(var(--fg-default));
    content: "";
    flex: 1;
    padding-top: 2px;
  }
}

#section-5 {
  background-image: linear-gradient(
    to bottom right,
    hsl(var(--secondary-100) / 25%),
    hsl(var(--secondary-500) / 75%)
  );
}
