@import "config";
@import "mixins";
@import "reset";

/* LAYOUTS */
@import "layouts/box";
@import "layouts/center";
@import "layouts/cluster";
@import "layouts/flex";
@import "layouts/flow";
@import "layouts/sidebar";
@import "layouts/stack";

/* COMPONENTS */
@import "components/button";
@import "components/disclosure";
@import "components/modal";
@import "components/product-card";
@import "components/product-grid";
@import "components/form-control";

/* UTILITIES */
@import "utilities/alignment";
@import "utilities/display";
@import "utilities/gap";
@import "utilities/margin";
@import "utilities/padding";
@import "utilities/sizes";
@import "utilities/text";
@import "utilities/visibility";

.light,
:root {
  --fg-contrast: var(--d-contrast);
  --fg-default: var(--d-default);
  --fg-subtle: var(--d-subtle);
  --fg-non-essential: var(--d-non-essential);

  --bg-primary: var(--l-contrast);
  --bg-secondary: var(--l-default);
  --bg-accent: var(--l-subtle);
  --bg-exception: var(--l-non-essential);
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg-contrast: var(--l-contrast);
    --fg-default: var(--l-default);
    --fg-subtle: var(--l-subtle);
    --fg-non-essential: var(--l-non-essential);

    --bg-primary: var(--d-default);
    --bg-secondary: var(--d-default);
    --bg-accent: var(--d-subtle);
    --bg-exception: var(--d-non-essential);
  }
}

.dark {
  --fg-contrast: var(--l-contrast);
  --fg-default: var(--l-default);
  --fg-subtle: var(--l-subtle);
  --fg-non-essential: var(--l-non-essential);

  --bg-primary: var(--d-default);
  --bg-secondary: var(--d-default);
  --bg-accent: var(--d-subtle);
  --bg-exception: var(--d-non-essential);
}

.light,
.dark,
body {
  color: hsl(var(--fg-contrast) / 80%);
}

body {
  background-color: hsl(var(--bg-primary));
  font-family: var(--font-body);
  font-size: var(--type-size);
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(var(--fg-contrast));
  font-family: var(--font-display);
}

@for $size from 1 through 5 {
  h#{$size} {
    font-size: var(--type-size-#{$size});
  }

  h#{$size}.responsive {
    font-size: clamp(
      var(--type-size-#{$size + 1}),
      #{10 - $size}vw,
      var(--type-size-#{$size})
    );
  }
}

a {
  color: hsl(var(--primary-900));
  text-decoration: underline dotted hsl(var(--primary-900) / 25%);

  @media (prefers-color-scheme: dark) {
    color: hsl(var(--primary-100));
    text-decoration: underline dotted hsl(var(--primary-100) / 25%);
  }
}

.feather,
.feather-icon,
.feathericon {
  width: 1em;
  height: 1em;
  fill: none;
  stroke: currentColor;
  stroke-width: 2px;
  stroke-linecap: round;
  flex: 0 0 1em;
  stroke-linejoin: round;
}

[class][hidden] {
  display: none;
}
